* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .grid-container {
    display: grid;
    grid-template: 60px 150px 60px / 200px 200px 300px;
    
    gap: 10px;
} */

.grid-container_1 {
    width: 600px;
    height: 600px;
    display: grid;
/*     grid-template-columns: 1fr 1fr 1fr; */
/*     grid-template-columns: repeat(3, 50px 1fr) 20px; */
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px 200px 200px;
    grid-auto-rows: 200px; /* Позволяет задать размер неявным строкам и столбцам, например выпадающему 10-му элементу  */
    /* grid-auto-columns: 1fr; */
}

.grid-container_2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.grid-container_3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}
/* #first {
    grid-column-start: 1;
    grid-column-end: 3;
}
#second {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
}
#third {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3 ;
} */

.grid-container_4 {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}
/* #first {
    grid-column: 1/3;
}
#second {
    grid-row: 3/4;
    grid-column: 2;
}
#third {
    grid-row: 2/4;
    grid-column: 3;
} */

.grid-container_5 {
    display: grid;
/*     grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto)); */
    grid-template-columns: [col1-s] 150px [col2-s] 150px [col3-s] 150px;
    grid-template-rows: [row1-s] 150px [row2-s] 150px [row3-s] 150px [row4-s];
    /* Названия в квадратных скобках [col2-s] могут быть любыми */
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}
/* #first {
    grid-column: col1-s/col3-s;
}
#second {
    grid-row: row3-s;
    grid-column: col2-s;
}
#third {
    grid-row: row2-s/row4-s;
    grid-column: col3-s;
} */

.grid-container_6 {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    align-items: center; /* Устанавливает все элементы align-self:center; */
    /* justify-items: center; работает точно также */
    justify-content: space-around;
    align-content: space-around;
    place-content: space-around space-around; /* комбинированноесвойство, обьединяет в себе justify-content+align-content  */
    /* place-items: justify-items + align-items; */

}
#first {
    align-self: start; 
}
#second {
    /* align-self:center;
    justify-self: start; */
    place-self: center start;
}


.grid-container_7 {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas: 
    "header header message"
    "blog blog message"
    /* "footer footer ."; Точка позволяет оставить незаполненную область после блока footer */
    "footer footer footer"

}

@media (max-width: 768px) {
    .grid-container_7 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas:
        "header header"
        "blog blog"
        "message message"
        "footer footer"
    }
}

#header {
    grid-area: header;
}

#blog {
    grid-area: blog;
}

#message {
    grid-area: message;
}
 

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.grid-elem {
/*     height: 50px; */
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}

.orange {
    background-color: orange;
}